.CustomButtonsDisplay_Container {
  width: 100%;
  height: fit-content;
  margin: 0;
  box-sizing: border-box;
  border: 20px solid transparent;
  border-image: url("../../images/Border_1.svg") 15 stretch;
}

.CustomButtonsDisplay_Wrapper {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #fff;
}

.CustomButtons_Container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}