.Header_Container {
  width: 100%;
  height: 5rem;
  margin: 0;
  box-sizing: border-box;
  border: 30px solid transparent;
  border-image: url("../../images/ControlPanel_Background_2.0.svg")
    10 round;
  order: 1;
}

.Header_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(222, 222, 222, 1);
}

.Title_Container {
  position: relative;
}

.Title_Container h1 {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.4rem;
  background: rgba(222, 222, 222, 1);
  z-index: 2;
}

.Logo_Image {
  display: block;
  width: 4rem;
  position: absolute;
  left: calc(50% - 2rem);
  top: calc(0.75rem - 2rem);
  z-index: 1;
}
