.Header_Container {
  width: 100%;
  height: 5rem;
  margin: 0;
  box-sizing: border-box;
  border: 30px solid transparent;
  border-image: url("../../images/ControlPanel_Background_2.0.svg")
    10 round;
  order: 1;
}

.Header_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(222, 222, 222, 1);
}

.Login_Button_Desktop {
  &.MuiButtonBase-root {
    display: none;
  }
}

.Title_Container {
  position: absolute;
  width: 210px;
  left: calc(50% - 105px)
  
}

.Title_Container h1 {
  position: relative;
  line-height: 2rem;
  background: rgba(222, 222, 222, 1);
  z-index: 2;
  text-align: center;
}

.Logo_Image {
  display: block;
  width: 6rem;
  position: absolute;
  left: calc(50% - 3rem);
  top: calc(1rem - 3rem);
  z-index: 1;
}

@media only screen and (min-width: 1241px) {
  .Header_Wrapper {
    justify-content: space-evenly;
  }

  .Login_Button_Phone {
    &.MuiButtonBase-root {
      display: none;
    }
  }
  
  .Login_Button_Desktop {
    &.MuiButtonBase-root {
      display: inline-flex;
    }
  }
  
}