.ControlPanel_Container {
  width: 100%;
  height: fit-content;
  margin: 0;
  box-sizing: border-box;
}

.ControlPanel_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 30px solid transparent;
  border-image: url("../../images/ControlPanel_Background.png") 40 round;
  background-color: #dedede;
}

.ControlPanel_Buttons_Container {
  padding-top: 0.5rem;
  box-sizing: border-box;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
}

.ButtonMenu_Open {
  height: fit-content;
  padding: 1rem;
}

.ControlPanel_Display_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
