.ResultCard_Container {
  width: 100%;
  height: fit-content;
  margin: 0;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #fff;
  outline: 2px solid #dedede;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  background-color: #dedede;
}

.ResultCard_Container_First {
  outline: 2px solid #B1D2FC;
  background-color: #B1D2FC;
}

.ResultCard_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.ResultCard_Header {
  position: absolute;
  top: -1.2rem;
  display: flex;
  gap: 1rem;
}

.ResultCard_Header_Content {
  height: 1.5rem;
  background-color: #dedede;
  border: 1px solid #fff;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: 2px solid #dedede;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.ResultCard_Header_Content_First {
  outline: 2px solid #B1D2FC;
  background-color: #B1D2FC;
}

.ResultCard_Header_Title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ResultCard_Header_Save {
  display: flex;
  align-items: center;
}

.ResultDice_Container {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px 4px;
}

.Result_Box {
  position: absolute;
  height: 100%;
  width: 80px;
  top: 0;
  right: 0;
  border-left: 1px solid #fff;
}

.EqualSign {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1rem;
  height: 1.5rem;
  top: calc(50% - 0.75rem);
  left: -0.5rem;
  background-color: #dedede;
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.EqualSign_First {
  background-color: #B1D2FC;
}

.Result_Value {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.4rem;
  font-weight: 700;
  margin: 0;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}