.Dialog_Container {
  & .MuiDialog-paper {
    border: 20px solid transparent;
    border-image: url("../../images/Border_1.svg") 20 stretch;
    background: transparent;
    box-shadow: none;
  }

  & .MuiDialogTitle-root {
    padding-top: 0px;
  }

  & .MuiDialogActions-root {
    padding-bottom: 0px;
  }
}

.Dialog_Form {
  background-color: #fff;
}
