.InformationDisplay_Container {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.InformationDisplay_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.InformationDisplay_Wrapper h2,
.InformationDisplay_Wrapper h3 {
  color: #252525;
}

.InformationDisplay_Section {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.InformationDisplay_Section ul {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.InformationDisplay_Section ul li {
  line-height: 1.5rem;
}

.InformationDisplay_Section ul b {
  background-color: #0971f1;
  font-weight: 500;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
}

@media only screen and (min-width: 1241px) {
  .InformationDisplay_Container {
    background-color: #dedede;
  }

  .InformationDisplay_Wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
